<div class="container mt-5">
    <h1 class="text-center mb-5">Contato</h1>

    <!-- Seção de Informações de Contato -->
    <section id="contact-info" class="mb-5">
        <h2>Informações de Contato</h2>
        <p>Para agendar um horário ou obter mais informações sobre nossos serviços, entre em contato conosco pelo
            telefone ou WhatsApp:</p>
        <p><strong>Telefone:</strong> (19) 99457-2757</p>
        <a href="https://api.whatsapp.com/send?phone=5519994572757" class="btn btn-success" target="_blank">WhatsApp</a>
    </section>

    <!-- Ícone do Instagram -->
    <section id="instagram-icon" class="mb-5">
        <h2>Siga-nos no Instagram</h2>
        <a href="https://www.instagram.com/espacojulianarodrigues/" target="_blank">
            <i class="bi bi-instagram fs-1"></i>
        </a>
    </section>

    <!-- Seção de Formulário de Contato -->
    <section id="contact-form" class="mb-5">
        <h2>Formulário de Contato</h2>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mensagem</label>
                        <textarea class="form-control" id="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </section>
</div>