<div class="container mt-5">

    <!-- Seção de Informações de Contato -->
    <section id="contact-info" class="mb-5">
        <h2>Informações de Contato</h2>
        <p>Para agendar um horário ou obter mais informações sobre nossos serviços, entre em contato conosco pelo telefone ou WhatsApp:</p>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">Telefone</div>
                    <div class="card-body">
                        <a href="tel:19994572757"><i class="bi bi-headset fs-1 phone"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">Whatsapp</div>
                    <div class="card-body">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=5519994572757"><i class="bi bi-whatsapp fs-1 whatsapp-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center mt-2"><strong>Telefone:</strong> (19) 99457-2757</p>
    </section>

    <!-- redes sociais -->
    <section class="socials-network mb-4">
        <hr>
        <app-socials></app-socials>
    </section>

    <hr>

    <!-- Seção de Formulário de Contato -->
    <section id="contact-form" class="mb-5">
        <h2>Formulário de Contato</h2>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mensagem</label>
                        <textarea class="form-control" id="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </section>

</div>