.whatsapp-icon {
    color: #25D366; /* Cor primária do WhatsApp */
    transition: color 0.3s;
}

.whatsapp-icon:hover {
    color: #128C7E; /* Cor de destaque do WhatsApp */
}

.phone {
    color: purple;
}