.social-icon.facebook {
    color: #3b5998; /* Azul do Facebook */
}

.social-icon.instagram {
    color: #bc2a8d; /* Rosa do Instagram */
}

.social-icon.tiktok {
    color: #69c9d0; /* Azul do TikTok */
}