<section>
    <h2 class="text-center my-3">Acompanhe-nos nas redes sociais</h2>

    <div class="row">
        <div *ngFor="let social of socials" class="col-4">
            <div class="card text-center">
                <div class="card-header ">
                    {{ social.name }}
                </div>
                <div class="card-body">
                    <a target="_blank" href="{{ social.url }}">
                        <i class="bi bi-{{ social.icon }} fs-1 social-icon {{ social.icon }}"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>