<div class="container">
    <h1 class="text-center">Serviços para Noivas</h1>

    <!-- Seção de Introdução -->
    <section id="introduction">
        <p>No Espaço Beauté, entendemos a importância do seu grande dia e estamos aqui para garantir que você se sinta deslumbrante e confiante.</p>
        <hr>
        <p>Oferecemos um atendimento exclusivo a domicílio, levando nossos profissionais até o local onde você irá se preparar para o casamento, proporcionando comodidade e conforto. Confira nossos serviços especialmente preparados para o seu dia de noiva.</p>
    </section>

    <hr>

    <!-- Seção de Serviços -->
    <section id="services">
        <div class="row">
            <!-- Serviço de Cabelo e Penteados -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Cabelo e Penteados</h3>
                    </div>
                    <div class="card-body">
                        <p>Nossos especialistas em cabelos criam penteados elegantes e duradouros, perfeitos para o seu grande dia. Desde penteados clássicos a modernos, trabalhamos para realçar sua beleza natural.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Serviço de Maquiagem -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Maquiagem</h3>
                    </div>
                    <div class="card-body">
                        <p>Oferecemos maquiagem personalizada que realça seus traços e complementa seu estilo. Nossos maquiadores usam produtos de alta qualidade para garantir uma aparência impecável e duradoura.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Serviço de Depilação -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Depilação</h3>
                    </div>
                    <div class="card-body">
                        <p>Para que você se sinta confortável e confiante, oferecemos serviços de depilação que deixam sua pele suave e preparada para qualquer ocasião.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Serviço de Manicure e Pedicure -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Manicure e Pedicure</h3>
                    </div>
                    <div class="card-body">
                        <p>Complete seu visual com nossas manicures e pedicures profissionais. Oferecemos uma ampla gama de cores e estilos para garantir que suas unhas estejam perfeitas no seu grande dia.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Outros Serviços -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Outros Serviços</h3>
                    </div>
                    <div class="card-body">
                        <p>Além dos serviços mencionados, também oferecemos tratamentos faciais, cuidados com a pele, e outros mimos para garantir que você esteja radiante e relaxada no dia do seu casamento.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- redes sociais -->
    <section class="socials-network mb-4">
        <hr>
        <app-socials></app-socials>
    </section>

</div>
