<div class="container mt-5">

    <!-- Seção de Informações da Empresa -->
    <section id="company-info" class="mb-3">
        <h2>Sobre nós</h2>
        <p>Somos o Espaço Juliana Rodrigues, uma profissional dedicada a fornecer serviços de alta qualidade em cabelo, penteados e maquiagem para noivas, madrinhas, debutantes e outras ocasiões especiais.</p>
        <p>Nosso objetivo é realçar a beleza natural de
            nossos clientes e ajudá-los a se sentirem confiantes e deslumbrantes em seus momentos mais importantes.</p>
    </section>

    <!-- Seção de Nossa Equipe -->
    <section id="our-team" class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/images/juliana-rodrigues-beaute-atendento.jpg" class="card-img-top"
                        alt="Foto da Equipe 1">
                    <div class="card-body">
                        <h5 class="card-title">Juliana Rodrigues</h5>
                        <p class="card-text">Cabelereira, penteadista e maquiadora Profissional</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção de Missão e Valores -->
    <section id="mission-values" class="mb-3">
        <h2>Nossa Missão e Valores</h2>
        <p>Nossa missão é proporcionar uma experiência excepcional a cada cliente, oferecendo serviços personalizados e
            de alta qualidade. Valorizamos a honestidade, a criatividade, o profissionalismo e a satisfação do cliente
            em tudo o que fazemos.</p>
    </section>
    
</div>