<div class="container">
    
    <section id="about">
        <h1 class="display-6 text-center fw-light">Beauté by Juliana Rodrigues de Souza</h1>
        <hr>
        <p class="lead">Aqui sua beleza se torna extraordinária. Realçamos sua elegância natural, tornando cada momento memorável.</p>
        <p class="lead">Conheça nossos serviços exclusivos de cabelo, penteado e maquiagem para brilhar em todas as ocasiões. Agende seu horário e permita-nos fazer parte do seu momento mais especial.</p>
    </section>

    <hr>

    <!-- frase Ju -->
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>Descubra a sua beleza única. Deixe-me realçar o seu brilho natural. Juntos, criaremos momentos
                inesquecíveis.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Juliana Rodrigues de Souza - <cite title="Source Title">Proprietária do Espaço Beauté</cite>
        </figcaption>
    </figure>

    <hr>

    <!-- Galeria de fotos dos últimos trabalhos -->
    <section id="gallery">
        <h2 class="text-center my-3">Últimos trabalhos</h2>
        <app-carousel></app-carousel>
    </section>

    <!-- redes sociais -->
    <section class="socials-network mb-4">
        <hr>
        <app-socials></app-socials>
    </section>

</div>