<div class="container">
    <h1 class="text-center">Serviços para Debutantes</h1>

    <!-- Seção de Introdução -->
    <section id="introduction">
        <p>No Espaço Beauté, acreditamos que completar 15 anos é um marco inesquecível na vida de toda garota. Esse momento especial merece ser celebrado com toda a magia e glamour que você sempre sonhou.</p>
        <p>Oferecemos um atendimento exclusivo a domicílio, garantindo que você se sinta como uma verdadeira princesa no seu grande dia. Conheça nossos serviços especialmente pensados para transformar sua festa de 15 anos em um sonho real.</p>
    </section>

    <hr>

    <!-- Seção de Serviços -->
    <section id="services">
        <div class="row">
            <!-- Serviço de Cabelo e Penteados -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Cabelo e Penteados</h3>
                    </div>
                    <div class="card-body">
                        <p>Nossos especialistas em cabelos estão prontos para criar penteados deslumbrantes que combinem com o seu estilo e tema da festa. Desde tranças elegantes a cachos soltos e glamourosos, cada detalhe é pensado para que você brilhe.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Serviço de Maquiagem -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Maquiagem</h3>
                    </div>
                    <div class="card-body">
                        <p>Nossos maquiadores profissionais irão realçar sua beleza natural com uma maquiagem que reflete sua personalidade. Usamos produtos de alta qualidade para garantir uma aparência impecável e duradoura durante toda a festa.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Serviço de Depilação -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Depilação</h3>
                    </div>
                    <div class="card-body">
                        <p>Sinta-se confortável e confiante com nossa depilação profissional, deixando sua pele macia e preparada para todas as fotos e danças da noite.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Serviço de Manicure e Pedicure -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Manicure e Pedicure</h3>
                    </div>
                    <div class="card-body">
                        <p>Unhas impecáveis são essenciais para uma verdadeira debutante. Oferecemos uma ampla gama de cores e estilos para garantir que suas unhas complementem seu vestido e tema da festa.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <!-- Outros Serviços -->
            <div class="col-md-6 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Outros Serviços</h3>
                    </div>
                    <div class="card-body">
                        <p>Além dos serviços mencionados, oferecemos tratamentos faciais, cuidados com a pele e outros mimos para garantir que você esteja radiante e relaxada no seu dia especial.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- redes sociais -->
    <section class="socials-network mb-4">
        <hr>
        <app-socials></app-socials>
    </section>

</div>
